#grid{
    width: 410px;
    height: 310px;
    display: flex;
    flex-wrap: wrap;
}
img{
    border: 1px solid black;
    width: auto;
    height: auto;
}
body{
    margin-top: 15%;
    margin-left: 35%;
}
h3{
    margin-left: 150px;
}